html {
  width: 100%;
  height: 100%;
}
body {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  font-size: 12pt;
  background-color: #1e8fec;
  color: white;
}
#corpo {
  display: flex;
  height: 100%;
  width: 100%;
}
.msg {
  height: 100%;
  width: 50%;
  background-image: url("../barclays.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.formulario-login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 50%;
}
#send {
  text-align: center;
}
.btn {
  background-color: #1e1eec;
}
.btn:hover {
  background-color: #1e1eec78;
}

input {
  color: black;
}
